
body{
	background-color: rgb(245, 245, 245);
	font-family: "Merriweather";
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather Sans";
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-transform: capitalize; 
}

.logo {
	padding:1rem;
}

.row {
	max-width: 90rem;
}

#container, #contenter{
	height: 100%;
	width: 100%;
}

.content {
	overflow: auto;
	height: 100%;
}

.sidebar{
	background: rgb(54, 67, 71);
	overflow: auto;
	height: 100%;
}

	.sidebar * {
		color: rgba(255,255,255,1) !important;
	}

	.sidebar a {
		text-decoration: underline;
	}


#loading-container{
	display: table;
	height: 100%;
	width: 100%;
}
.container-wrap{
	display: table-cell;
	vertical-align: middle;
}
.playground{
/* For styling only */
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

@media only screen and (max-width: 64.0625em) {
	.sidebar{
		background: rgb(54, 67, 71);
		height: auto;
	}
}

/* Grid Box */

.grid {
	border-right: 1px solid rgba(183, 183, 183,1);
	border-bottom: 1px solid rgba(183, 183, 183,1);
	height: 150px;
	position: relative;
}

.grid:hover{
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transform: scale(1);
	z-index: 999;
}

.description-wrap{
	display: table;
	height: 100%;
	position: absolute;
	width: 90%;
}

.description{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.browserSupport {
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.browserSupport li{
	color: rgba(37, 37, 37,0.2);
	display: inline-block;
	font-size: 1rem;
	list-style: none;
	margin-right: 1rem;
}

.browserSupport .active {
	color: rgba(37, 37, 37,1);
}

/* Carbon ads */

#carbonads {
	max-width: 300px;
	margin: 0 auto;
}
.carbon-wrap {
	display: inline-block;
}
.carbonad{
	background-color:#FBFBFB;
	border:2px solid #E8E8E8;
	height:215px;
	line-height:1.2;
	width:150px
}

.carbon-img{
	float:left;
	height:100px;
	margin-left:11px;
	margin-top:11px;
	width:130px
}

.carbon-text{
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:400;
	height:50px;
	margin-left:15px;
	margin-top:9px;
	width:119px
}

.carbon-text a{
        color:rgba(0, 0, 0, 0.8);
	text-decoration:none;
	text-transform:none;
}

.carbon-tag{
	color:#999;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:400;
	margin-left:17px;
	margin-top:15px;
	padding-top:5px
}

.carbon-tag a{
	color:#999;
	text-align:center;
	text-decoration:none;
	font-weight:700
}
.carbon-poweredby {
    color: rgb(119, 119, 119) !important;
    margin-top: 2px;
    font-size: 12px;
    display: inline-block;
    float : right;
    text-align: right;
}
